body{
    margin: 0;
}


.mainbox {
    background-image: url("contacts.jpeg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    gap: 5%;                 
}

.leftbox{
    height: auto;            
    min-height: 35%;
    border: 2px double white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;           
    background-color: rgba(0, 0, 0, 0.4); 
    margin: 0;   
    transition: 0.25 ease-in;    
}
.rightbox{
height: auto;            
    min-height: 35%;
    border: 2px double white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;           
    background-color: rgba(0, 0, 0, 0.4); 
    margin: 0;   
    transition: 0.25 ease-in;           
}
h1,p{
    color: white;
    text-align: center;

}
 
.bottom-nav {
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-radius: 50px; 
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
}

.res-button {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

